h1{
    text-align: center;
}
#Page1{
    font-size: larger;
    margin-top: 100px;
    text-align: center;
}
#Page2{
    font-size: larger;
    margin-top: 100px;
    text-align: center;
}
button{
    margin-top:50px;
    margin-left: 20px;
}
#choosedishP1{
    margin-bottom: 50px;
}

#servings{
    margin-left: 15px;
}
#ResultPage{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
#container{
    display: flex;
    flex-direction: column;
    justify-content: left;
     width: 250px;

}