h1{
    text-align: center;
}
#Page1{
    font-size: larger;
    margin-top: 100px;
    text-align: center;
}
#Page2{
    font-size: larger;
    margin-top: 100px;
    text-align: center;
}
button{
    margin-top:50px;
    margin-left: 20px;
}
#choosedishP1{
    margin-bottom: 50px;
}
#ResultPage{
    align-items: center;
    flex-direction: column;
    display: flex;
}